Available_data.xlsx
Jorge_folders.txt
.Rproj.user
Scripts/operation_log.txt
Scripts/iframe_figures
Literature/"Past thesis"
.DS_Store
Kadel-masters_thesis_approval-v3.pdf
Kadel-thesis_dissertation_cover_sheet.pdf
3_Scripts/rough.py
